/* Layout */
.main {
  display: flex;
  gap: 1rem;
}

.sidebar {
  background-color: #0e0e0e;
  min-height: 100vh;
  color: #fff;
  transition: width 0.3s ease;
  padding: 10px;
  /* overflow: hidden; */
  position: relative;
}

.sidebar.open {
  width: auto;
}

.sidebar.collapsed {
  width: auto;
}

/* Toggle button */
.toggle {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

.toggle-icon {
  cursor: pointer;
}

/* Menu */
.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
  position: relative;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  padding: 8px;
  border-radius: 6px;
  position: relative;
  text-decoration: none;
  color: inherit;
  transition: background 0.2s ease;
}

.menu-item:hover {
  background-color: #2d2d2d;
}

.menu-item.margin {
  margin-top: 20px;
}

/* .icon {
  min-width: 20px;
} */

.label {
  white-space: nowrap;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.label.hide {
  opacity: 0;
  transform: translateX(100px);
  /* overflow: hidden; */
  display: none;
}

.label.show {
  opacity: 1;
  transform: translateX(0);
}

.tooltip {
  position: absolute;
  left: 70px;
  background: var(--brandColor);
  color: #fff;
  padding: .2rem .4rem;
  border-radius: 4px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  z-index: 1;
}

.menu-item:hover .tooltip {
  opacity: 1;
  left: 60px;
  pointer-events: auto;
}

/* Content */
.content {
  margin: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* ⬇️ Responsive: hide text on small screens */
@media (max-width: 768px) {
  .sidebar.open .label {
    display: none;
  }

  .sidebar.open .tooltip {
    display: none;
  }
}
