.appContainer {
  /* height: 100vh; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; */
}

.app-wrapper,
.dashboard-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0.2rem 0;
}
.dashboard-wrapper {
  padding: 0.2rem 0.8rem;
  overflow-y: scroll;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .app-wrapper {
    padding: 0;
  }
  .dashboard-wrapper {
    padding: 1rem;
  }
}

.nameInput {
  width: 100%;
  height: 1.8rem;
  padding: 0 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid #ccc;
  outline: none;
  font-size: 0.63rem;
  font-weight: 400;
  color: #606060;
}

.nameInput:focus,
.textareaInput:focus {
  border-color: var(--brandColor);
  box-shadow: 0 0 4px rgba(25, 118, 210, 0.3);
  color: #606060;
}

.nameInput::placeholder,
.textareaInput::placeholder {
  font-size: 0.63rem;
  font-weight: 400;
  color: #606060;
}

.textareaInput {
  padding: 0.5rem 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid #ccc;
  outline: none;
  font-size: 0.63rem;
  font-weight: 400;
  width: 100%;
}

.customSelect {
  appearance: none; /* Hide native arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("https://cdn-icons-png.flaticon.com/128/32/32195.png")
    no-repeat right 0.8rem center;
  background-size: 0.3rem;
  width: 100%;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cancel-button {
  position: absolute;
  right: 0.2rem;
  top: 0.1rem;
  font-size: 0.35rem;
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
  font-size: 0.7rem;
  background-color: transparent;
  font-weight: 900;
}
.Toastify__toast-container {
  font-size: 0.4rem !important;
}
@media screen and (min-width: 768px) {
  .nameInput {
    height: 1.3rem;
    font-size: 0.3rem;
  }

  .nameInput::placeholder,
  .nameInput,
  .textareaInput,
  .textareaInput::placeholder {
    font-size: 0.41rem;
  }
  .customSelect {
    width: 5.3rem;
  }

  .textareaInput {
    font-size: 0.3rem;
  }

  .button {
    margin-top: 0.5rem;
    padding: 0.3rem 0.5rem;
    font-size: 0.45rem;
  }
  .cancel-button {
    font-size: 0.58rem;
  }
}
